* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fon_1 {
    background-image: url(./img/gallery/fon_1.jpg);
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fon_1 h2 {
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pod_menu {
    background: #f9faf9;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pod_menu ul {
    display: flex;
}

.pod_menu ul li {
    list-style-type: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.pod_menu ul li a {
    text-decoration: none;
    color: #777777;
}

.blog {
    display: grid;
    max-width: 1200px;
    gap: 20px;
    margin: 0 auto;
    grid-template-areas: 'nov nov2 nov3' 'nov4 nov5 nov6';
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
}

[class ^="nov"] {
    background-color: #f9faf9;
}

[class ^="nov"] img {
    width: 100%;
}

.nov {
    grid-area: nov;
}

.nov2 {
    grid-area: nov2;
}

.nov3 {
    grid-area: nov3;
}

.nov4 {
    grid-area: nov4;
}

.nov5 {
    grid-area: nov5;
}

.nov6 {
    grid-area: nov6;
}

.pod_blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
}
.zag_blog{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.9px;
    margin-top: 20px;
}  
.txt_blog{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin-top: 20px;
    color: #777777;
}