@font-face {
    font-family: 'GoodVibesPro';
    font-style: normal;
    /* font-weight: 400; */
    font-display: swap;
    src: url(./fonts/GoodVibesPro.woff2) format('woff2');
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1200px;
    margin: 0 auto;
}

.shapka {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.blok {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.blok a {
    color: black;
    text-decoration: none;
    padding: 30px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 22px;
}

.fa.fa-map-marker.fa-3x {
    color: #c14679;
    padding: 30px 0;
}

.blok2 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 45px;
    padding: 27px 0;
}

.tr {
    width: 50px;
    height: 60px;
    margin: 0 10px 0 15px;
}

.blok3 {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    line-height: 0px;
    margin: 25px 0;
}

.btn {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 25px;
    border-color: #c14679;
    font-size: 12px;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.fa.fa-envelope-o {
    padding: 5px;
    font-size: 15px;
}

.nav_menu {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 600;
}

.topmenu {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
}

.pod_cont {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pod_cont2 {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.poisk {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.show {
    flex-basis: 14%;
    list-style: none;
}

.show a {
    color: black;
    text-decoration: none;
}

.submenu {
    display: none;
    text-transform: uppercase;
    opacity: 0;
    background-color: white;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.show:hover .submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    opacity: 1;
    z-index: 1000;
}

.show:hover .submenu li {
    padding: 15px 25px;
}

.fon {
    background-image: url(./img/fon.jpg);
    width: 100%;
    height: 600px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poz {
    width: 1200px;
    flex-direction: column;
}

.btn2 {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 20px 30px;
    font-family: 'GoodVibesPro', sans-serif;
    letter-spacing: 1.7px;
    font-weight: 700;
    font-size: 14px;
    background: #c14679;
    color: white;
}

.zag {
    color: #c14679;
    font-family: 'GoodVibesPro', sans-serif;
    font-weight: 100;
    font-size: 110px;
}

.zag2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.zag2::before {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 60px;
    height: 2px;
    position: relative;
    margin: 8px;
}

.pzag {
    color: #777777;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.fon2 {
    position: relative;
    width: 1100px;
    height: 500px;
    background-image: url(img/fon2.jpg);
    margin: 0 auto;
    transform: translateY(-40px);
    border: 10px solid #f3f7f8;
}

.otst {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 30px 185px 30px;
}

h2.zag {
    color: #c14679;
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    letter-spacing: 1.6px;
    margin: auto;
}

.pzagol {
    color: #777777;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
    margin: 25px 150px;
    text-align: center;
}

.strel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #c14679;
}

.strela {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}

.sagolovok {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    font-size: 55px;
    letter-spacing: 2.7px;
}

.offer {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    width: 1200px;
    height: 500px;
}

.vbn {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    height: 400px;
}

.rama {
    padding: 15px;
    border: 1px solid #e1e1e1;
}

.txt {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 65px;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
}

.we_offer {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 30px;
}

.sslk {
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
    text-align: center;
    border-bottom: 2px solid #a3a3a3;
    margin: 20px auto;
}

.fon3 {
    background-image: url(img/fon3.jpg);
    height: 600px;
    width: 100%;
    border: 1px solid white;
}

.raz_txt {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    font-size: 55px;
    letter-spacing: 2.7px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fon_product {
    background: white;
    width: 250px;
    margin: 0 20px 0 0;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corob {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 170px;
}

.fon_product h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 25px 0;
    font-size: 16px;
}

.fon_product p {
    color: #c14679;
    font-size: 16px;
}

.section {
    display: grid;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    grid-template-areas: 'left logo img logo2 right' 'left2 logo img logo2 right2' 'left3 logo3 img logo23 right3' 'left4 logo3 img logo23 right4';
    justify-content: center;
    grid-template-columns: 4fr 1fr 6fr 1fr 4fr;
    gap: 20px;
}

.about_us {
    grid-area: left;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.8px;
    text-align: right;
    align-self: end;
}

.about_us2 {
    grid-area: left3;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.8px;
    text-align: right;
    align-self: end;
}

.about_us3 {
    grid-area: right;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.8px;
    text-align: left;
    align-self: end;
}

.about_us4 {
    grid-area: right3;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.8px;
    text-align: left;
    align-self: end;
}

.raz_img {
    width: 80px;
    height: 80px;
}

.us {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 24px;
    color: #777777;
    grid-area: left2;
    text-align: right;
    border-bottom: 1px solid #b7b7b7;
}

.us2 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 24px;
    color: #777777;
    grid-area: left4;
    text-align: right;
}

.us3 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 24px;
    color: #777777;
    grid-area: right2;
    text-align: left;
    border-bottom: 1px solid #b7b7b7;
}

.us4 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.35px;
    line-height: 24px;
    grid-area: right4;
    color: #777777;
    text-align: left;
}

.logo {
    grid-area: logo;
    align-self: center;
}

.logo2 {
    grid-area: logo3;
    align-self: center;
}

.fa-truck {
    align-self: center;
    justify-self: center;
    color: #c14679;
}

.logo3 {
    grid-area: logo2;
    align-self: center;
}

.logo4 {
    grid-area: logo23;
    align-self: center;
}

.strawberry {
    grid-area: img;
    align-self: center;
    justify-self: center;
}

.fon4 {
    background-image: url(img/fon4.jpg);
    width: 100%;
    height: 540px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit {
    width: 1200px;
}

.stil_txt {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 2.7px;
}

.poziciy {
    display: flex;
    margin: 20px 0;
}

.proc {
    color: #c14679;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

.pred {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.pred_zag {
    font-family: 'Poppins', sans-serif;
    color: #777777;
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: 0 auto;
}

.about_border {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
}

.about_border::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 15px solid #f5f5f5;
    display: inline-block;
    width: 45%;
    height: 60%;
    z-index: -1;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 200px;
    width: 440px;
    margin-left: 80px;
    margin-top: 65px;
    z-index: 1;
}

.box h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2.4px;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 20px;
}

.box p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 24px;
    padding-bottom: 20px;
}

.box a {
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #a3a3a3;
    text-align: center;
    border-bottom: 2px solid #a3a3a3;
    margin: 20px auto;
}

.box2 {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    height: 25%;
}

.num {
    position: relative;
    text-decoration: none;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

.num::before {
    content: 'our mission';
    color: #9a9a9a;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.num2 {
    position: relative;
    text-decoration: none;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

.num2::before {
    content: 'our values';
    color: #9a9a9a;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.num3 {
    position: relative;
    text-decoration: none;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
}

.num3::before {
    content: 'our goals';
    color: #9a9a9a;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.fon5 {
    background-image: url(./img/fon3.jpg);
    height: 815px;
}

.novosti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.cake {
    background-image: url(./img/novosti1.jpg);
    background-repeat: no-repeat;
    height: 460px;
    width: 600px;
    padding-right: 30px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    padding-left: 40px;
}

.icheika {
    width: 460px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.data {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    letter-spacing: 0.75px;
}

.punkt {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    letter-spacing: 1.2px;
    line-height: 36px;
}

.cakes {
    height: 480px;
    display: flex;
    flex-direction: column;
}

.icheika2 {
    width: 600px;
    display: flex;
    padding-bottom: 30px;
}

.razdel {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.data2 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #777777;
    letter-spacing: 0.75px;
}

.punkt2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 1.2px;
    line-height: 36px;
    margin-top: 20px;
}

.fon6 {
    background-image: url(./img/fon5.jpg);
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagiki {
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.podval {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 50px auto;
    height: 400px;
}

.pod_podval {
    display: flex;
}

.zag_podval {
    width: 400px;
    margin: 30px 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
}

.razmer_bloka {
    width: 400px;
    height: 250px;
    padding-right: 20px;
    margin-top: 10px;
}

.razmer_img {
    height: 96px;
    width: 96px;
    padding: 0 5px 5px 0;
}

.razmer_bloka2 {
    width: 400px;
    height: 230px;
    display: flex;
    flex-flow: column wrap;
}

.ssl {
    text-decoration: none;
    width: 200px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.razmer_bloka3 {
    width: 300px;
    height: 230px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fa.fa-map-marker {
    color: #c14679;
    margin-right: 20px;
}

.fa.fa-phone {
    color: #c14679;
    margin-right: 20px;
}

.fa.fa-envelope {
    color: #c14679;
    margin-right: 20px;
}

.znaki {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.fa.fa-instagram {
    color: #575757;
    text-decoration: none;
    border: 1px solid #575757;
    text-align: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 39px;
}

.fa.fa-odnoklassniki {
    color: #575757;
    text-decoration: none;
    border: 1px solid #575757;
    text-align: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 39px;
}

.fa.fa-vk {
    color: #575757;
    text-decoration: none;
    border: 1px solid #575757;
    text-align: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 39px;
}