@font-face {
    font-family: 'GoodVibesPro';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/GoodVibesPro.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/Roboto.woff2) format('woff2');
}

@font-face {
    font-family: 'CenturyGothic';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/CenturyGothic.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fon_1 {
    background-image: url(../img/gallery/fon_1.jpg);
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fon_1 h2 {
    color: #ffff;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pod_menu {
    background: #f9faf9;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pod_menu ul {
    display: flex;
}

.pod_menu ul li {
    list-style-type: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.pod_menu ul li a {
    text-decoration: none;
    color: #777777;
}

.blog {
    width: 1200px;
    margin: 0 auto;
}

.stolb1 {
    width: 900px;
}

.zag_post {
    width: 620px;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 36px;
    letter-spacing: 1.8px;
    line-height: 48px;
    font-weight: 500;
    margin-top: 30px;
}

.img_post {
    margin-top: 30px;
}

.post {
    width: 770px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;
    color: #777777;
}

.zag_coments {
    font-family: 'CenturyGothic', sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 50px;
}

.comentary {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}

.comentary input {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #151515;
    margin-right: 30px;
}

.sms {
    height: 100%;
    resize: vertical;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    min-height: 64px;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #151515;
    padding-top: 20px;
    margin-bottom: 50px;
}

.btn_width {
    width: 191px;
    height: 66px;
}