@font-face {
    font-family: 'GoodVibesPro';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/GoodVibesPro.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/Roboto.woff2) format('woff2');
}

@font-face {
    font-family: 'CenturyGothic';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/CenturyGothic.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fon_1 {
    background-image: url("../img/gallery/fon_1.jpg");
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fon_1 h2 {
    color: #ffff;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pod_menu {
    background: #f9faf9;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pod_menu ul {
    display: flex;
}

.pod_menu ul li {
    list-style-type: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.pod_menu ul li a {
    text-decoration: none;
    color: #777777;
}

.bloc_product {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.foto_product {
    width: 600px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.osnov_img {
    background-color: #f9faf9;
    width: 532px;
    height: 481px;
    margin: 0 auto;
}

.pod_gallery_product {
    height: 164px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.img_product {
    background-color: #f9faf9;
    width: 180px;
    height: 164px;
}

.inf_product {
    margin-left: 50px;
    width: 600px;
}

.zag_product {
    font-family: 'CenturyGothic', sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
}

.cena_product {
    font-family: 'CenturyGothic', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #c14679;
    margin-bottom: 20px;
}

.txt_product {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    color: #151515;
    list-style: none;
}

.txt_product li {
    margin-bottom: 10px;
}

.txt_product li span:last-child {
    color: #777777
}

input[type=number] {
    -moz-appearance: textfield;
}

.pole {
    margin-bottom: 50px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.osnov_forma {
    height: 160px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: column wrap;
}

.osnov_forma input {
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #151515;
    margin-right: 30px;
}

.sms {
    height: 100%;
    resize: vertical;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    min-height: 64px;
    font-family: 'CenturyGothic', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #151515;
    padding-top: 20px;
}